/* Define padrões do corpo */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  /* Fundo responsivo */
  .background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #052C55;
    color: #fff;
    text-align: center;
  }
  
  /* Contêiner para a logo */
  .logo-container {
    max-width: 90%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Imagem da logo */
  .logo {
    width: 100%;
    max-width: 300px; /* Limita o tamanho máximo da logo */
    height: auto; /* Mantém a proporção da imagem */
  }
  
  /* Tornando responsivo */
  /* Tornando responsivo para o iPhone SE e telas menores */
@media (max-width: 414px) { /* Largura aproximada do iPhone SE */
    /* Ajustes específicos para o iPhone SE */
    .logo-container {
      padding: 10px; /* Reduz o padding para telas menores */
    }
    .logo {
      max-width: 180px; /* Reduz ainda mais o tamanho da logo */
    }
    /* Outros ajustes específicos para o iPhone SE, como fontes, espaçamentos, etc. */
  
  }
  
  